
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Add play time manually</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Minutes played <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Date <ion-text color="danger">*</ion-text></ion-label>
          <ion-datetime value="2020-02-02" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Game <ion-text color="danger">*</ion-text></ion-label>
            <ion-select name="gameSelect" interface="popover" [compareWith]="compareWith">
                <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
              </ion-select>
              
          </ion-item>
      </ion-list>
      <ion-button expand="block">Save</ion-button>
    </ion-content>
  